.courses {
  position: absolute;
  top: 119px;
  left: 0;
}
.professional-education,
.quick-links {
  position: absolute;
  top: 83px;
  left: 0;
}
.quick-links {
  top: 0;
  font-size: var(--font-size-3xl);
  font-weight: 600;
  font-family: var(--body-xxxl-400);
  color: var(--color-midnightblue);
}
.div {
  position: absolute;
  top: 4px;
  left: 1524px;
  width: 193px;
  height: 138px;
}
.classroom-courses,
.div1,
.div2 {
  position: absolute;
  top: 47px;
  left: 0;
}
.div1,
.div2 {
  top: 4px;
  left: 681px;
  width: 153px;
  height: 138px;
}
.div2 {
  top: 0;
  left: 1145px;
  width: 147px;
}
.eduvi-es-una {
  margin: 0;
}
.eduvi-is-a-container {
  position: absolute;
  top: 100px;
  left: 0;
  line-height: 26px;
  font-family: var(--font-inria-sans);
}
.eduvico {
  position: absolute;
  top: 66px;
  left: 0;
}
.icon {
  width: 25px;
  height: 30px;
}
.eduvi1,
.icon {
  position: relative;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  font-size: var(--font-size-11xl);
  color: var(--color-midnightblue);
}
.left {
  top: 4px;
  left: 0;
  width: 253px;
  height: 152px;
  font-family: var(--body-xxxl-400);
}
.bg,
.bg1,
.eduvi,
.left {
  position: absolute;
}
.eduvi {
  top: 5186px;
  left: 99px;
  width: 1717px;
  height: 156px;
  text-align: left;
  font-family: var(--font-inria-sans);
}
.bg,
.bg1 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-midnightblue);
  width: 1766px;
  height: 420px;
}
.bg1 {
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-blueviolet);
  width: 142px;
  height: 60px;
}
.subscribe2 {
  position: absolute;
  top: 21px;
  left: 47px;
  font-weight: 500;
}
.bg2,
.button {
  position: absolute;
  top: 0;
  left: 367px;
  width: 142px;
  height: 60px;
}
.bg2 {
  left: 0;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  background-color: rgba(255, 255, 255, 0.2);
  width: 367px;
}
.enter-your-email {
  position: absolute;
  top: 15px;
  left: 20px;
  line-height: 30px;
}
.button1,
.subscribe1 {
  position: absolute;
  height: 60px;
}
.button1 {
  top: 0;
  left: 0;
  width: 367px;
  text-align: left;
  font-family: var(--font-inria-sans);
}
.subscribe1 {
  top: 295px;
  left: 626px;
  width: 509px;
  text-align: right;
}
.k-students-daily {
  position: absolute;
  top: 218px;
  left: 335px;
  font-size: var(--body-xxxl-400-size);
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
}
.subscribe-for-get-container {
  position: absolute;
  top: 60px;
  left: 133px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.02em;
  line-height: 68px;
  font-weight: 600;
}
.images-icon,
.subscribe {
  position: absolute;
  top: 150px;
  left: 60px;
  width: 1646.9px;
  height: 226px;
}
.subscribe {
  top: 3041px;
  left: 77px;
  width: 1766px;
  height: 420px;
  color: var(--gray-white);
}
.high-definition-video-is {
  position: absolute;
  top: 166px;
  left: 0;
  line-height: 32px;
  display: inline-block;
  width: 776px;
}
.want-to-share-container {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 48px;
  letter-spacing: -0.02em;
  line-height: 68px;
  font-weight: 600;
  color: var(--color-midnightblue);
}
.image-icon,
.text {
  position: absolute;
  top: 99px;
  left: 613px;
  width: 803px;
  height: 294px;
}
.image-icon {
  top: 0;
  left: 0;
  width: 510px;
  height: 521px;
  object-fit: cover;
}
.join-as-a-teacher {
  position: absolute;
  top: 2380px;
  left: 252px;
  width: 1416px;
  height: 521px;
  text-align: left;
  font-size: var(--body-xxxl-400-size);
}
.bg3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: #ede9f2;
  width: 1776px;
  height: 667px;
}
.image-child {
  position: absolute;
  top: 625px;
  left: 1193px;
  border-radius: 50%;
  background-color: #000;
  filter: blur(100px);
  width: 741px;
  height: 20px;
}
.i,
.i1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 14px;
}
.i1 {
  left: 19px;
}
.i10,
.i11,
.i2,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8,
.i9 {
  position: absolute;
  top: 0;
  left: 38px;
  line-height: 14px;
}
.i10,
.i11,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8,
.i9 {
  left: 57px;
}
.i10,
.i11,
.i4,
.i5,
.i6,
.i7,
.i8,
.i9 {
  left: 76px;
}
.i10,
.i11,
.i5,
.i6,
.i7,
.i8,
.i9 {
  left: 95px;
}
.i10,
.i11,
.i6,
.i7,
.i8,
.i9 {
  left: 154px;
}
.i10,
.i11,
.i7,
.i8,
.i9 {
  left: 173px;
}
.i10,
.i11,
.i8,
.i9 {
  left: 192px;
}
.i10,
.i11,
.i9 {
  left: 211px;
}
.i10,
.i11 {
  top: 19px;
  left: 0;
}
.i11 {
  left: 19px;
}
.i12,
.i13,
.i14,
.i15,
.i16,
.i17,
.i18,
.i19,
.i20 {
  position: absolute;
  top: 19px;
  left: 38px;
  line-height: 14px;
}
.i13,
.i14,
.i15,
.i16,
.i17,
.i18,
.i19,
.i20 {
  left: 57px;
}
.i14,
.i15,
.i16,
.i17,
.i18,
.i19,
.i20 {
  left: 76px;
}
.i15,
.i16,
.i17,
.i18,
.i19,
.i20 {
  left: 95px;
}
.i16,
.i17,
.i18,
.i19,
.i20 {
  left: 154px;
}
.i17,
.i18,
.i19,
.i20 {
  left: 173px;
}
.i18,
.i19,
.i20 {
  left: 192px;
}
.i19,
.i20 {
  left: 211px;
}
.i20 {
  top: 38px;
  left: 0;
}
.i21,
.i22,
.i23,
.i24,
.i25,
.i26,
.i27,
.i28,
.i29 {
  position: absolute;
  top: 38px;
  left: 19px;
  line-height: 14px;
}
.i22,
.i23,
.i24,
.i25,
.i26,
.i27,
.i28,
.i29 {
  left: 38px;
}
.i23,
.i24,
.i25,
.i26,
.i27,
.i28,
.i29 {
  left: 57px;
}
.i24,
.i25,
.i26,
.i27,
.i28,
.i29 {
  left: 76px;
}
.i25,
.i26,
.i27,
.i28,
.i29 {
  left: 95px;
}
.i26,
.i27,
.i28,
.i29 {
  left: 154px;
}
.i27,
.i28,
.i29 {
  left: 173px;
}
.i28,
.i29 {
  left: 192px;
}
.i29 {
  left: 211px;
}
.i30,
.i31,
.i32,
.i33,
.i34,
.i35,
.i36 {
  position: absolute;
  top: 57px;
  left: 0;
  line-height: 14px;
}
.i31,
.i32,
.i33,
.i34,
.i35,
.i36 {
  left: 19px;
}
.i32,
.i33,
.i34,
.i35,
.i36 {
  left: 38px;
}
.i33,
.i34,
.i35,
.i36 {
  left: 57px;
}
.i34,
.i35,
.i36 {
  left: 76px;
}
.i35,
.i36 {
  left: 95px;
}
.i36 {
  left: 154px;
}
.i37,
.i38,
.i39,
.i40,
.i41,
.i42,
.i43,
.i44,
.i45 {
  position: absolute;
  top: 57px;
  left: 173px;
  line-height: 14px;
}
.i38,
.i39,
.i40,
.i41,
.i42,
.i43,
.i44,
.i45 {
  left: 192px;
}
.i39,
.i40,
.i41,
.i42,
.i43,
.i44,
.i45 {
  left: 211px;
}
.i40,
.i41,
.i42,
.i43,
.i44,
.i45 {
  top: 76px;
  left: 0;
}
.i41,
.i42,
.i43,
.i44,
.i45 {
  left: 19px;
}
.i42,
.i43,
.i44,
.i45 {
  left: 38px;
}
.i43,
.i44,
.i45 {
  left: 57px;
}
.i44,
.i45 {
  left: 76px;
}
.i45 {
  left: 95px;
}
.i46,
.i47,
.i48,
.i49,
.i50,
.i51,
.i52,
.i53,
.i54 {
  position: absolute;
  top: 76px;
  left: 154px;
  line-height: 14px;
}
.i47,
.i48,
.i49,
.i50,
.i51,
.i52,
.i53,
.i54 {
  left: 173px;
}
.i48,
.i49,
.i50,
.i51,
.i52,
.i53,
.i54 {
  left: 192px;
}
.i49,
.i50,
.i51,
.i52,
.i53,
.i54 {
  left: 211px;
}
.i50,
.i51,
.i52,
.i53,
.i54 {
  top: 95px;
  left: 0;
}
.i51,
.i52,
.i53,
.i54 {
  left: 19px;
}
.i52,
.i53,
.i54 {
  left: 38px;
}
.i53,
.i54 {
  left: 57px;
}
.i54 {
  left: 76px;
}
.i55,
.i56,
.i57,
.i58,
.i59,
.i60,
.i61,
.i62,
.i63 {
  position: absolute;
  top: 95px;
  left: 95px;
  line-height: 14px;
}
.i56,
.i57,
.i58,
.i59,
.i60,
.i61,
.i62,
.i63 {
  left: 154px;
}
.i57,
.i58,
.i59,
.i60,
.i61,
.i62,
.i63 {
  left: 173px;
}
.i58,
.i59,
.i60,
.i61,
.i62,
.i63 {
  left: 192px;
}
.i59,
.i60,
.i61,
.i62,
.i63 {
  left: 211px;
}
.i60,
.i61,
.i62,
.i63 {
  top: 114px;
  left: 0;
}
.i61,
.i62,
.i63 {
  left: 19px;
}
.i62,
.i63 {
  left: 38px;
}
.i63 {
  left: 57px;
}
.i64,
.i65,
.i66,
.i67,
.i68,
.i69,
.i70,
.i71,
.i72 {
  position: absolute;
  top: 114px;
  left: 76px;
  line-height: 14px;
}
.i65,
.i66,
.i67,
.i68,
.i69,
.i70,
.i71,
.i72 {
  left: 95px;
}
.i66,
.i67,
.i68,
.i69,
.i70,
.i71,
.i72 {
  left: 154px;
}
.i67,
.i68,
.i69,
.i70,
.i71,
.i72 {
  left: 173px;
}
.i68,
.i69,
.i70,
.i71,
.i72 {
  left: 192px;
}
.i69,
.i70,
.i71,
.i72 {
  left: 211px;
}
.i70,
.i71,
.i72 {
  top: 133px;
  left: 0;
}
.i71,
.i72 {
  left: 19px;
}
.i72 {
  left: 38px;
}
.i73,
.i74,
.i75,
.i76,
.i77,
.i78,
.i79,
.i80,
.i81 {
  position: absolute;
  top: 133px;
  left: 57px;
  line-height: 14px;
}
.i74,
.i75,
.i76,
.i77,
.i78,
.i79,
.i80,
.i81 {
  left: 76px;
}
.i75,
.i76,
.i77,
.i78,
.i79,
.i80,
.i81 {
  left: 95px;
}
.i76,
.i77,
.i78,
.i79,
.i80,
.i81 {
  left: 154px;
}
.i77,
.i78,
.i79,
.i80,
.i81 {
  left: 173px;
}
.i78,
.i79,
.i80,
.i81 {
  left: 192px;
}
.i79,
.i80,
.i81 {
  left: 211px;
}
.i80,
.i81 {
  top: 152px;
  left: 0;
}
.i81 {
  left: 19px;
}
.i82,
.i83,
.i84,
.i85,
.i86,
.i87,
.i88,
.i89,
.i90 {
  position: absolute;
  top: 152px;
  left: 38px;
  line-height: 14px;
}
.i83,
.i84,
.i85,
.i86,
.i87,
.i88,
.i89,
.i90 {
  left: 57px;
}
.i84,
.i85,
.i86,
.i87,
.i88,
.i89,
.i90 {
  left: 76px;
}
.i85,
.i86,
.i87,
.i88,
.i89,
.i90 {
  left: 95px;
}
.i86,
.i87,
.i88,
.i89,
.i90 {
  left: 154px;
}
.i87,
.i88,
.i89,
.i90 {
  left: 173px;
}
.i88,
.i89,
.i90 {
  left: 192px;
}
.i89,
.i90 {
  left: 211px;
}
.i90 {
  top: 171px;
  left: 0;
}
.i91,
.i92,
.i93,
.i94,
.i95,
.i96,
.i97,
.i98,
.i99 {
  position: absolute;
  top: 171px;
  left: 19px;
  line-height: 14px;
}
.i92,
.i93,
.i94,
.i95,
.i96,
.i97,
.i98,
.i99 {
  left: 38px;
}
.i93,
.i94,
.i95,
.i96,
.i97,
.i98,
.i99 {
  left: 57px;
}
.i94,
.i95,
.i96,
.i97,
.i98,
.i99 {
  left: 76px;
}
.i95,
.i96,
.i97,
.i98,
.i99 {
  left: 95px;
}
.i96,
.i97,
.i98,
.i99 {
  left: 154px;
}
.i97,
.i98,
.i99 {
  left: 173px;
}
.i98,
.i99 {
  left: 192px;
}
.i99 {
  left: 211px;
}
.image-icon1,
.pattern {
  position: absolute;
  top: 77px;
  left: 1438px;
  width: 220px;
  height: 185px;
}
.image-icon1 {
  top: 80px;
  left: 1263px;
  width: 513px;
  height: 587px;
  object-fit: cover;
}
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1776px;
  height: 667px;
}
.bg4,
.icon1,
.icon2,
.icon3 {
  position: absolute;
  top: 97px;
  left: 1318px;
  width: 190px;
  height: 190px;
}
.bg4,
.icon2,
.icon3 {
  top: 259px;
  left: 1600.7px;
}
.bg4,
.icon3 {
  top: 6px;
  left: 1601px;
}
.bg4 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-blueviolet);
  width: 251.2px;
  height: 60px;
}
.registation-now {
  position: absolute;
  top: 20px;
  left: 43px;
  line-height: 20px;
  font-weight: 500;
}
.button2 {
  position: absolute;
  top: 403px;
  left: 0;
  width: 251.2px;
  height: 60px;
  cursor: pointer;
}
.high-definition-video-is1 {
  position: absolute;
  top: 255px;
  left: 0;
  font-size: var(--body-xxxl-400-size);
  line-height: 32px;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 775px;
}
.bg5,
.dont-waste-time {
  position: absolute;
  left: 0;
}
.dont-waste-time {
  top: 70px;
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: var(--color-midnightblue);
  display: inline-block;
  width: 620.6px;
}
.bg5 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: #e4e2f4;
  width: 230.9px;
  height: 50px;
}
.college-level {
  position: absolute;
  top: 13px;
  left: 27px;
  display: inline-block;
  width: 176.5px;
}
.div3,
.text1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 230.9px;
  height: 50px;
  color: var(--color-blueviolet);
}
.text1 {
  top: 109px;
  left: 74px;
  width: 775px;
  height: 463px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--gray-white);
  font-family: var(--body-xxxl-400);
}
.join-courses {
  position: absolute;
  top: 1573px;
  left: 72px;
  width: 1776px;
  height: 667px;
  font-size: var(--font-size-sm);
  color: var(--color-blueviolet);
  font-family: var(--font-abeezee);
}
.bg6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--gray-white);
  width: 226.3px;
  height: 329px;
}
.standard-4-of {
  position: absolute;
  top: 174px;
  left: 12px;
  line-height: 20px;
  display: inline-block;
  width: 202.9px;
}
.standard-four {
  top: 100px;
  left: 44.5px;
  display: inline-block;
  color: var(--color-midnightblue);
  width: 137.4px;
}
.div4,
.icon4,
.standard-four {
  position: absolute;
}
.icon4 {
  height: 15.2%;
  width: 22.98%;
  top: 8.81%;
  right: 19.58%;
  bottom: 75.99%;
  left: 57.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div4 {
  top: 245px;
  left: 1279px;
  width: 226.3px;
  height: 329px;
}
.standard-2-builds {
  position: absolute;
  top: 174px;
  left: 12.7px;
  line-height: 20px;
  display: inline-block;
  width: 202.9px;
}
.standard-two {
  top: 100px;
  left: 22.7px;
  display: inline-block;
  color: var(--color-midnightblue);
  width: 181px;
}
.div5,
.icon5,
.standard-two {
  position: absolute;
}
.icon5 {
  height: 15.2%;
  width: 22.98%;
  top: 8.81%;
  right: 20.15%;
  bottom: 75.99%;
  left: 56.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div5 {
  top: 245px;
  left: 426.3px;
  width: 226.3px;
  height: 329px;
}
.standard-one {
  position: absolute;
  top: 100px;
  left: 30px;
  display: inline-block;
  color: var(--color-midnightblue);
  width: 166px;
}
.icon6 {
  position: absolute;
  top: 30px;
  left: 120px;
  width: 50px;
  height: 49px;
  overflow: hidden;
}
.bg9,
.div6 {
  position: absolute;
  top: 245px;
  left: 0;
  width: 226.3px;
  height: 329px;
}
.bg9 {
  top: 0;
  border-radius: var(--br-mini);
  background-color: var(--gray-white);
  box-shadow: 0 50px 80px rgba(0, 0, 0, 0.05);
}
.standard-3-of {
  position: absolute;
  top: 174px;
  left: 12.3px;
  line-height: 20px;
  display: inline-block;
  width: 202.9px;
}
.standard-three {
  top: 100px;
  left: 24.3px;
  display: inline-block;
  color: var(--color-midnightblue);
  width: 177px;
}
.div7,
.icon7,
.standard-three {
  position: absolute;
}
.icon7 {
  height: 15.2%;
  width: 22.98%;
  top: 9.12%;
  right: 17.23%;
  bottom: 75.68%;
  left: 59.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div7 {
  top: 245px;
  left: 852.7px;
  width: 226.3px;
  height: 329px;
}
.a-lesson-or,
.qualified-lessons-for {
  position: absolute;
  display: inline-block;
}
.a-lesson-or {
  top: 147px;
  left: calc(50% - 532.5px);
  line-height: 32px;
  width: 1065px;
}
.qualified-lessons-for {
  top: 0;
  left: 69.2px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.02em;
  line-height: 68px;
  font-weight: 600;
  color: var(--color-midnightblue);
  width: 901.6px;
}
.lessons,
.title {
  position: absolute;
}
.title {
  top: 0;
  left: calc(50% - 473.7px);
  width: 1065px;
  height: 179px;
  font-size: var(--body-xxxl-400-size);
  font-family: var(--body-xxxl-400);
}
.lessons {
  top: 891px;
  left: 207px;
  width: 1505.4px;
  height: 574px;
  font-family: var(--font-inria-sans);
}
.class-details {
  position: absolute;
  top: 1517px;
  left: 281.4px;
  line-height: 20px;
  font-weight: 500;
  color: var(--gray-white);
  display: inline-block;
  width: 77.3px;
}
.bg-icon,
.image-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1483px;
}
.image-icon2 {
  height: 93.88%;
  width: 50.9%;
  top: 10.68%;
  right: 0;
  bottom: -4.56%;
  left: 49.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.eduvi-is-a {
  position: absolute;
  top: 254px;
  left: 8px;
  line-height: 32px;
  display: inline-block;
  width: 802px;
}
.bg10,
.grow-up-your {
  position: absolute;
  left: 0;
}
.grow-up-your {
  top: 65px;
  font-size: 72px;
  letter-spacing: -0.02em;
  line-height: 74px;
  font-weight: 600;
  color: var(--color-midnightblue);
  display: inline-block;
  width: 851px;
}
.bg10 {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--gray-white);
  width: 306px;
  height: 50px;
}
.never-stop-learning {
  position: absolute;
  top: 7px;
  left: 8px;
  letter-spacing: -0.01em;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 320px;
}
.div8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 328px;
  height: 50px;
  color: #ff6652;
}
.header,
.text2 {
  position: absolute;
  top: 191px;
  left: 84px;
  width: 851px;
  height: 446px;
}
.header {
  top: 0;
  left: 0;
  width: 1920px;
  height: 833px;
  text-align: left;
  font-size: var(--body-xxxl-400-size);
}
.top-instructor-of {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 48px;
  font-weight: 600;
  display: inline-block;
  width: 1320px;
}
.image-icon3 {
  position: relative;
  width: 244px;
  height: 244px;
  object-fit: cover;
}
.headline,
.instructor-name {
  position: relative;
  line-height: 22px;
  display: inline-block;
  width: 212px;
}
.instructor-name {
  font-weight: 500;
}
.headline {
  font-size: var(--font-size-sm);
  letter-spacing: -0.01em;
  color: var(--gray-500);
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.devider {
  position: relative;
  border-top: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 245px;
  height: 1px;
  display: none;
}
.star-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.k,
.students {
  position: relative;
  letter-spacing: -0.01em;
}
.k {
  line-height: 20px;
  font-weight: 500;
}
.students {
  line-height: 22px;
  color: var(--gray-500);
}
.k-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.instructor,
.rating-students {
  box-sizing: border-box;
  align-items: center;
}
.rating-students {
  width: 244px;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-base);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--gray-700);
}
.instructor {
  background-color: var(--gray-white);
  border: 1px solid var(--gray-100);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-xs);
}
.instructor,
.instructor1 {
  width: 244px;
  height: 514px;
}
.instructor1,
.instructor3,
.instructor4 {
  background-color: var(--gray-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-xs);
}
.instructor3 {
  height: 514px;
}
.instructor4 {
  width: 244px;
}
.rows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
  font-size: var(--font-size-base);
}
.thousands-of-students {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 22px;
}
.arrowright-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.buttons {
  background-color: var(--gray-white);
  flex-direction: row;
  justify-content: center;
  padding: 4px 0;
  gap: var(--gap-5xs);
  color: var(--primary-500);
}
.browse-all,
.buttons,
.top-instructor {
  display: flex;
  align-items: center;
}
.browse-all {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--gray-600);
}
.top-instructor {
  position: absolute;
  top: 4315px;
  left: calc(50% - 728px);
  background-color: var(--gray-white);
  border: 1px solid var(--gray-100);
  box-sizing: border-box;
  width: 1452px;
  height: 731px;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  gap: 40px;
  font-size: 40px;
  color: var(--gray-900);
}
.for-college,
.problemticas {
  position: absolute;
  width: 110.3px;
}
.problemticas {
  top: 0;
  left: 0;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.for-college {
  top: 1px;
  left: 300px;
  height: 40px;
  cursor: pointer;
}
.portafolios {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  width: 83.8px;
}
.for-high-school {
  position: absolute;
  top: 1px;
  left: 131.2px;
  width: 83.8px;
  height: 40px;
  cursor: pointer;
}
.for-kindergarten,
.home2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46.1px;
}
.home2 {
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
}
.for-kindergarten {
  height: 40px;
  text-align: left;
  color: #fd8e1f;
}
.menu {
  position: absolute;
  top: 0;
  left: 671.4px;
  width: 410.3px;
  height: 41px;
}
.icon8 {
  position: relative;
  width: 31.7px;
  height: 30px;
}
.vidhalaya {
  position: relative;
  display: inline-block;
  width: 232px;
  flex-shrink: 0;
}
.logo1,
.upper-nev {
  position: absolute;
  left: 0;
}
.logo1 {
  top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-11xl);
}
.upper-nev {
  top: 4px;
  width: 1081.7px;
  height: 41px;
}
.button3 {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 48px;
  text-transform: capitalize;
  font-weight: 600;
}
.buttons1 {
  background-color: var(--primary-100);
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-5xl);
  cursor: pointer;
}
.btns,
.buttons1,
.buttons2,
.right {
  display: flex;
  flex-direction: row;
}
.buttons2 {
  background-color: var(--primary-500);
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-5xl);
  cursor: pointer;
  color: var(--gray-white);
}
.btns,
.right {
  justify-content: flex-start;
}
.btns {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.right {
  position: absolute;
  top: 0;
  left: 1432px;
  width: 289.4px;
  align-items: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--primary-500);
}
.upper-nev-parent {
  position: absolute;
  top: 24px;
  left: 83.6px;
  width: 1721.4px;
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-midnightblue);
}
.standard-4-of1,
.standard-four1 {
  position: absolute;
  display: inline-block;
}
.standard-4-of1 {
  top: 164px;
  left: 12px;
  line-height: 20px;
  width: 202.9px;
}
.standard-four1 {
  top: 100px;
  left: 13px;
  color: var(--color-midnightblue);
  width: 200px;
}
.icon9 {
  position: absolute;
  height: 15.2%;
  width: 22.98%;
  top: 9.12%;
  right: 21.79%;
  bottom: 75.68%;
  left: 55.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.standard-2-builds1,
.standard-two1 {
  position: absolute;
  display: inline-block;
}
.standard-2-builds1 {
  top: 164px;
  left: 13.7px;
  line-height: 20px;
  width: 202.9px;
}
.standard-two1 {
  top: 100px;
  left: 18.7px;
  color: var(--color-midnightblue);
  width: 190px;
}
.icon10 {
  position: absolute;
  height: 15.2%;
  width: 22.98%;
  top: 9.12%;
  right: 20.15%;
  bottom: 75.68%;
  left: 56.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.standard-one1 {
  position: absolute;
  top: 100px;
  left: 27px;
  display: inline-block;
  color: var(--color-midnightblue);
  width: 172px;
}
.div17,
.icon11 {
  position: absolute;
  top: 30px;
  left: 125px;
  width: 50px;
  height: 49px;
  overflow: hidden;
}
.icon11 {
  top: 31px;
  left: 130px;
}
.standard-3-of1,
.standard-three1 {
  position: absolute;
  display: inline-block;
}
.standard-3-of1 {
  top: 164px;
  left: 12.3px;
  line-height: 20px;
  width: 202.9px;
}
.standard-three1 {
  top: 100px;
  left: 25.3px;
  color: var(--color-midnightblue);
  width: 175px;
}
.icon12 {
  position: absolute;
  height: 15.2%;
  width: 22.98%;
  top: 9.12%;
  right: 21.21%;
  bottom: 75.68%;
  left: 55.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.a-lesson-or1 {
  position: absolute;
  top: 147px;
  left: calc(50% - 458.5px);
  line-height: 32px;
  display: inline-block;
  width: 917px;
}
.qualified-lessons-for1 {
  position: absolute;
  top: 0;
  left: 61px;
  font-size: var(--font-size-45xl);
  letter-spacing: -0.02em;
  line-height: 68px;
  font-weight: 600;
  color: var(--color-midnightblue);
  display: inline-block;
  width: 856px;
}
.title1 {
  position: absolute;
  top: 0;
  left: calc(50% - 473.7px);
  width: 917px;
  height: 179px;
  font-size: var(--body-xxxl-400-size);
  font-family: var(--body-xxxl-400);
}
.lessons1 {
  position: absolute;
  top: 3601px;
  left: 207px;
  width: 1505.4px;
  height: 574px;
  font-family: var(--font-inria-sans);
}
.home {
  position: relative;
  background-color: #f7f5fa;
  width: 100%;
  height: 5431px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
  font-family: var(--body-xxxl-400);
}
